.categories-wrapper {
    margin: 150px auto;
    display: flex;
    gap: 150px;
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 50px;
}

.nav a {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    color: var(--dark);
}

.nav-title {
    font-family: var(--second-family);
    font-weight: 800;
    font-size: 32px;
    line-height: 140%;
    color: var(--dark);
}

.categories {
    display: flex;
    gap: 40px;
    max-width: 100%;
    flex-wrap: wrap;
}

.category {
    flex: 1 0;
    width: 33%;
}

.category img {
    flex: 1 1;
    width: 100%;
}

.categories h2 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 180%;
    text-transform: capitalize;
    color: var(--dark);
}

@media (max-width: 768px) {
    .category {
        flex: 1;
        width: 80%;
        margin: 0 auto;
    }

    .categories {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .categories-wrapper {
        margin: 150px auto;
        display: flex;
        gap: 20px;
    }

}