@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght,XOPQ,XTRA,YOPQ,YTDE,YTFI,YTLC,YTUC@8..144,100..1000,96,468,79,-203,738,514,712&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
}

:root {
    --dark: #114b35;
    --second-accent: #41b463;
    --accent: #7ed775;
    --light: #ebdff7;
    --bg: #3a3a3a;
    --border: #666666;
}

a {
    all: unset;
    cursor: pointer;
}

:root {
    --font-family: "Roboto Flex", sans-serif;
    --second-family: "Roboto Condensed", sans-serif;
    --third-family: "Koulen", sans-serif;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

html,
body,
main {
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: var(--font-family);
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

.container {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}


.button {
    padding: 4px 30px;
}

.button_link {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    color: var(--dark);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.button_icon {
    fill: var(--second-accent);
}